#####################################################################
# Csharp
#####################################################################
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rhp

#####################################################################
# Visual Studio Code
#####################################################################
.vscode/
.history/

#####################################################################
# Python
#####################################################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

#####################################################################
# OS Specific
#####################################################################
.DS_Store
Thumbs.db
temp/