#include "resource.h"
#include "targetver.h"
#include "afxres.h"
#include "verrsrc.h"

// ------------------------------------------------------------------------------
// Version/Plug-in info
// ------------------------------------------------------------------------------
VS_VERSION_INFO VERSIONINFO
 FILEVERSION      1.0.0.0
 PRODUCTVERSION   1.0.0.0
 FILEFLAGSMASK    VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS        VS_FF_DEBUG
#else
 FILEFLAGS        0x0L
#endif
 FILEOS           VOS_NT_WINDOWS32
 FILETYPE         VFT_DLL
 FILESUBTYPE      VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "0409"
    BEGIN
      VALUE "CompanyName",      "Your Own Organization"
      VALUE "FileDescription",  "Rhino C++ Plugin in CMake for Custom Development"
      VALUE "FileVersion",      "1.0.0.0"
      VALUE "InternalName",     "{{cookiecutter.your_plugin_name}}"
      VALUE "LegalCopyright",   "Copyright © 2025 Your Name or Company"
      VALUE "OriginalFilename", "{{cookiecutter.your_plugin_name}}.rhp"
      VALUE "ProductName",      "{{cookiecutter.your_plugin_name}}"
      VALUE "ProductVersion",   "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END

// ------------------------------------------------------------------------------
// Icon resource
// ------------------------------------------------------------------------------
IDI_ICON ICON "F:/{{cookiecutter.your_plugin_name}}/res/{{cookiecutter.your_plugin_name}}.ico"

// ------------------------------------------------------------------------------
// Optionally custom/manual resources here
// ------------------------------------------------------------------------------


